@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@model dynamic

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => Doctors.Name) *@
                Ad Syoad
            </th>
            <th>
                @* @Html.DisplayNameFor(model => Doctors.Branch) *@
                Branş
            </th>
            <th>
                @* @Html.DisplayNameFor(model => Doctors.ImagePath) *@
                İmage
            </th>
            <th>
                @* @Html.DisplayNameFor(model => Doctors.Status) *@
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doctors)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Branch.BranchName
                </td>
                <td>
                    <img src="~/uploads/@item.ImagePath" alt="" style=" width: 60px;">
                </td>
                <td>
                    @* @item.Status *@
                    @if(item.Status == true)
                    {
                        <button class="btn btn-success" type="button"></button>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
